@model IEnumerable<RSWEB.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">Students</h1>

        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-lg me-1"></i> Create New
        </a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeminarUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeminarPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeminarUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeminarPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
                <td class="text-end text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-sm btn-outline-primary me-1">
                        Edit
                    </a>

                    <a asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-sm btn-outline-secondary me-1">
                        Details
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-sm btn-outline-danger">
                        Delete
                    </a>
                </td>

        </tr>
}
    </tbody>
</table>
